<%-include("partials/header")-%>
<!-- substr(0,100): this method cut the string to 0 to 100 character -->
<h1>Home</h1>
<p><%=homePageContent%></p>

<% posts.forEach(function(post){ %>

    <h2><%=post.title%></h2>
    <p>
        <%=post.content.substr(0,100)+ "  ..."%>
        <a href="posts/<%=post.title%>">Read More</a>
    </p>
<%  }) %>



<%-include("partials/footer")-%>